
.jumbotron{
    align-items:center;
    background-image:url('img/bar_banner.jpg');
    background-size:cover;
    background-color:#898888;
    height:500px;
    color:white; 
}

.id1{
	background-color:#222222;
	color:white;
}

#logo {
	max-height: 100%;
	max-width: 100%;
}

#id:hover{border-color:#ff3300;}
#id:focus{outline:none; border-color:#ff3300;}
#id:active {border-color:#ff3300;}
#id:selected {border-color:#ff3300;}

h1 {
	color:#ff3300;
}

.jumbotron-fluid {
	padding-right: 0;
}

.button:hover {
	font-weight: bold !important;
	color: white !important;
}

button {
    background-color:#ff3300;
    border-color: #ff3300;
}

#buttonFeedback {
	margin-top: 10px;
}

.page-header {
	border-color:#ff3300;
}
.thumbnail {
	background:#222222 !important;
}
.caption h3 {
	text-align: center;
	color:white;
}

.thumbnail img {
	height: 100px;
}

.form-control:hover{background-color:#ff3300 !important;border-color:#ff3300;}
.form-control:focus{background-color:#222222 !important;border-color:#222222; color: white;}
.form-control:active {background-color:#222222 !important;border-color:#222222; color: white;}

.form-control { 
	color: black;
}

a {
	color: #ff3300;
}

a:hover, a:active, a:focus {
    font-weight:bold;
    color: #ff3300;
}

.microserviceTexts {
	width: 60%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px white;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	
}

.agentResponse {
	text-align: center;
	    border-bottom: 2px solid #ff3300;
}

.question {
	font-size: 150%;
}

#budgetButton, #foodButton, #drinksButton {
	width: 100px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.table-agents {
    background-color:#222222;
    border: 0.5px solid #ff3300;
}

#heading {
	text-shadow: 0px 0px 10px #ff3300, 0px 0px 10px #ff3300, 0px 0px 10px #ff3300;
}

#savePartyButton {
	margin-bottom: 10px;
}

#email {
	width: 40%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#introText {
	text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}
.orangeText {
	color: #ff3300;
	font-weight: bold;
}

body {
background: rgb(121,121,121);
background: radial-gradient(circle, rgba(121,121,121,1) 0%, rgba(69,69,69,1) 60%, rgba(34,34,32,1) 100%);
	color: white;
}

.glyphicon {
	margin-left: 5px;
}

#buttonBudget {
	background-image:url('img/budget.jpg') !important;
    background-size:cover;
    border: none;
    height: 100px !important;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ff3300, 0px 0px 10px #ff3300, 0px 0px 10px #ff3300;
}
#buttonFood {
	background-image:url('img/food.jpg') !important;
    background-size:cover;
    border: none;
    height: 100px !important;
        color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ff3300, 0px 0px 10px #ff3300, 0px 0px 10px #ff3300;
}
#buttonDrinks {
	background-image:url('img/drinks.jpg') !important;
    background-size:cover;
    border: none;
    height: 100px !important;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ff3300, 0px 0px 10px #ff3300, 0px 0px 10px #ff3300;
}
#buttonParty {
	background-image:url('img/party.jpg') !important;
    background-size:cover;
    border: none;
    height: 100px !important; 
    color: white;
    font-size: 50px;
    font-weight: bold; 
    text-shadow: 0px 0px 10px #ff3300, 0px 0px 10px #ff3300, 0px 0px 10px #ff3300;
}
#buttonBudget:hover, #buttonFood:hover, #buttonDrinks:hover, #buttonParty:hover {
    border: 5px solid #ff3300 !important;
    cursor: pointer;
}

#buttonParty.btn.collapsed {
	margin-bottom:50px;
}
hr {
	color: #ff3300;
	background-color: #ff3300;
	height: 2px;
	border: none;
}

footer {
	margin-top: 30px !important;
    border-top: 3px solid #ff3300;
    background-color: #222222;
}