
.jumbotron{
    align-items:center;
    background-image:url('img/bar_banner.jpg');
    background-size:cover;
    background-color:#898888;
    height:500px;
    color:white; 
}

.id1{
	background-color:#222222;
	color:white;
}

#id:hover{border-color:#ff3300;}
#id:focus{outline:none; border-color:#ff3300;}
#id:active {border-color:#ff3300;}
#id:selected {border-color:#ff3300;}

h1 {
	color:#ff3300;
}

.jumbotron-fluid {
	padding-right: 0;
}

.btn {
	background-color:#ff3300;
	border-color: #ff3300;
}

#buttonFeedback {
	margin-top: 10px;
}

.btn:hover{background-color:#ff3300;border-color:#ff3300;}
.btn:focus{background-color:#ff3300;border-color:#ff3300;}
.btn:active {background-color:#ff3300;border-color:#ff3300;}
.btn:selected {background-color:#ff3300;border-color:#ff3300;}

.page-header {
	border-color:#ff3300;
}

.form-control:hover{background-color:#ff3300 !important;border-color:#ff3300;}
.form-control:focus{background-color:#ff3300 !important;border-color:#ff3300;}
.form-control:active {background-color:#ff3300 !important;border-color:#ff3300;}
.form-control:selected {background-color:#ff3300 !important;border-color:#ff3300;}

.body {
	background-color:red !important;
}

#buttonBudget {
	background-image:url('img/budget.jpg') !important;
    background-size:cover;
}
#buttonFood {
	background-image:url('img/food.jpg') !important;
    background-size:cover;
}
#buttonDrinks {
	background-image:url('img/drinks.jpg') !important;
    background-size:cover;
}
#buttonParty {
	background-image:url('img/party.jpg') !important;
    background-size:cover;
}